[Desktop Entry]
Version=1.0
Name=Seconionis
Comment=Tor Traffic Router for Securonis Linux
Exec=pkexec seconionismenu
Icon=/usr/share/icons/securonis/icon15.png
Terminal=false
Type=Application
Categories=Securonis;Securonis
