[Desktop Entry]
Version=1.0
Name=Anonymous Mode
Comment=Alternative Tor traffic router for Securonis Linux
Exec=pkexec anonmode
Icon=/usr/share/icons/securonis/icon1.png
Terminal=false
Type=Application
Categories=Securonis;Securonis;
