[Desktop Entry]
Version=1.0
Name=Securonis Metadata Cleaner
Comment=A tool for removing metadata from files and photos
Exec=metadatacleaner
Icon=/usr/share/icons/securonis/metadata.png
Terminal=false 
Type=Application
Categories=Utility;

