[Desktop Entry]
Version=1.0
Name=System Panic Mode
Comment=Securonis Linux system panic mode 
Exec=pkexec panicmodegui
Icon=/usr/share/icons/securonis/panic.png
Terminal=false 
Type=Application
Categories=Qt;System;
