[Desktop Entry]
Version=1.0
Name=Seconionis
Comment=Seconionis is a tool that forces all system traffic through the Tor network by using a Tor transparent proxy
Exec=pkexec seconionismenu
Icon=/usr/share/icons/securonis/icon15.png
Terminal=false
Type=Application
Categories=Securonis;Securonis
